<main class="container-fluid">
  <div class="row mt-2">
    <div class="col-3">
      <app-ingridients></app-ingridients>
    </div>
    <div class="col-5">
      <app-burger></app-burger>
    </div>
  </div>
</main>
