<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col"><img src="https://www.pinclipart.com/picdir/big/537-5379835_meat-alphabet-png-emoji-de-carne-clipart.png" style="height: 30px" (click)="changeMeatCount()"></div>
    <div class="col">Meat</div>
    <div class="col">{{ meatCount }}</div>
    <div class="col-4 text-right"><img src="https://uxwing.com/wp-content/themes/uxwing/download/01-user_interface/delete.png" style="height: 25px" (click)="deleteMeatCount()"></div>
  </div>
</div>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col"><img src="https://cdn.pixabay.com/photo/2020/05/21/20/49/cheese-5202701_960_720.png" style="height: 25px" (click)="changeCheeseCount()"></div>
    <div class="col">Cheese</div>
    <div class="col">{{ cheeseCount }}</div>
    <div class="col-4 text-right"><img src="https://uxwing.com/wp-content/themes/uxwing/download/01-user_interface/delete.png" style="height: 25px" (click)="deleteCheeseCount()"></div>
  </div>
</div>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col"><img src="https://www.nicepng.com/png/full/437-4378461_left-vignette-burger-png-lettuce-leaf.png" style="height: 30px" (click)="changeSaladCount()"></div>
    <div class="col">Salad</div>
    <div class="col">{{ saladCount }}</div>
    <div class="col-4 text-right"><img src="https://uxwing.com/wp-content/themes/uxwing/download/01-user_interface/delete.png" style="height: 25px" (click)="deleteSaladCount()"></div>
  </div>
</div>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col"><img src="https://www.hormelfoodservice.com/wp-content/uploads/2021/02/product-line-raw-fresh-bacon.png" style="height: 30px" (click)="changeBaconCount()"></div>
    <div class="col">Bacon</div>
    <div class="col">{{ baconCount }}</div>
    <div class="col-4 text-right"><img src="https://uxwing.com/wp-content/themes/uxwing/download/01-user_interface/delete.png" style="height: 25px" (click)="deleteBaconCount()"></div>
  </div>
</div>
